<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<title>Cardiologs technical test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Cardiologs technical test.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="/vendor/<%= @stylesheet_name %>.css" rel="stylesheet">
	</head>
	<body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
